
$mainGreen: #044938;
$mainWhite: #f8f9fa;
$grey: #dfe0e1;

$fontSizeMenu: 1.5rem;
$fontSizeH1: 3rem;
$fontSizeH2: 1.5rem;
$fontSizeH3: 1.8rem;
$fontSizeH4: 1.5rem;
$fontSizeVehic: 1rem;

$font0: Arial, Helvetica, sans-serif;
$font1: Roboto;
